.verifyByName-form-container {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-bottom: 1vw;
  border: 1px solid $offWhite;
  box-shadow: 1px 1px 1px $offWhite;
  .form-name,
  .form-cert,
  .form-enrollees {
    padding-top: 1.5vw;
    padding-left: 1.5vw;
    padding-right: 7vw;
    padding-bottom: 1vw;
    border-radius: 5px;
  }

  .form-input-name {
    width: 20vw;
  }

  input {
    height: 2vw;
    font-size: 1vw;
    padding: 0.5vw;
    border-radius: 4px;
    border: 1px solid $lightGrey;
    color: $darkerBlue;
    box-shadow: 1px 1px 1px $offWhite;
  }

  label {
    color: $darkerBlue;
  }

}
