.formTitle {
  color: $darkerBlue;
  line-height: 0.3;
  margin-left: 1vw;
  margin-top: 1.5vw;
  h1{
    font-size: 2vw;
  }

  p{
    font-size: 1vw;
  }

  @media screen and (max-width: 800px) {
    margin-left: 2vw;
    margin-top: 2.5vw;

    h1{
      font-size: 5vw;
    }

    p{
      font-size: 2vw;
    }
  }

}
