.formTitle{
	color: $darkerBlue;
	line-height: 0.3;
	margin-left: 20px;

	@media screen and (max-width: 780px){
		p{
			font-size: 0.9rem;
		}
	}
	@media screen and (max-width: 650px){
		p{
			font-size: 0.7rem;
		}
	}

	@media screen and (max-width: 510px){
		h1{
			font-size: 1.7rem;
		}
		p{
			font-size: 0.6rem;
		}
	}
}
