@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.header-container {
  text-align: center;
  display: block;

  input, #byPDC_module{
    margin-left: 18vw;
    width: 22vw;
    margin-top: 1vh;
    height: 5vh;
    font-size: 1vw;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  #reservation_fname,
  #reservation_mname,
  #reservation_lname,
  #reservation_email,
  #reservation_add,
  #reservation_mobileNum,
  #reservation_srnNum{
    width: 22vw;
    margin-left: 17vw;
    margin-top: 1vh;
    height: 5vh;
    font-size: 1vw;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  #btn-submit-reservation{
    margin-top: -1vh;
  }

  h2{
    color: $darkBlue;
    padding-top: 3vh;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 1px 1px #9E9E9E;
  }

  h4{
    padding-top: 3vh;
    color: $darkBlue;
    font-weight: bold;
  }

  img{
    margin-top: 1vh;
    width: 10vw;

  }

  .buttons{
    margin-top: 3vh;
  }


  #btn-verifyByName,
  #btn-verifyByCerticateNumber,
  #btn-verifyEnrolleesOnPDC,
  #btn-courseReservation{
    margin-top: 3vh;
    width: 25vw;
    height: 7vh;
    background: $darkBlue;
    border: 1px solid $darkBlue;
    color: #fff;
    font-weight: bold;
    font-size: 1vw;
    border-radius: 30px;
    -webkit-animation: fadein 1.2s;
    animation: fadein 1.2s;
  }

  #byName_submit, #byCert_submit, #byPDC_submit{
    width: 20vw;
    background: $darkBlue;
    border: 1px solid $darkBlue;
  }

  .btn-goBack{
    width: 20vw;
    color: $darkBlue;
    border: 1px solid $darkBlue;
    margin-top: -2vh;
    &:hover{
      color: #fff;
      background: $darkBlue;
    }
  }

  #verifyByName{
    display: none;
    -webkit-animation: fadein 1.2s;
    animation: fadein 1.2s;
  }

  #verifyByCerticateNumber{
    display: none;
    -webkit-animation: fadein 1.2s;
  animation: fadein 1.2s;
  }

  #verifyByPDCenrollees{
    display: none;
    -webkit-animation: fadein 1.2s;
    animation: fadein 1.2s;
  }

  .error-fname, .error-lname, .error-bday, .error-certnum, .error-PDCmodule{
    display: none;
    float: left;
    margin-left: 22vw;
  }

  #coursesOffered{
    display: none;
    margin-top: 5vh;
    .btn-category{
      width: 30vw;
      height: 10vh;
      margin-top: 2vh;
      background: $darkBlue;
      border-radius: 50px;
    }
  }

  @media screen and (max-width: 1600px){

    input, #byPDC_module{
      margin-left: 22vw;
      width: 23vw;
      margin-top: 1vh;
      height: 5vh;
    }

    img{
      margin-top: 1vh;
      width: 8vw;
    }

    #reservation_fname,
    #reservation_mname,
    #reservation_lname,
    #reservation_email,
    #reservation_add,
    #reservation_mobileNum,
    #reservation_srnNum{
      margin-left: 20vw;
      width: 23vw;
      margin-top: 1vh;
      height: 5vh;
    }

    #coursesOffered{

      margin-top: 5vh;
      .btn-category{
        width: 25vw;
        height: 10vh;
        margin-top: 2vh;
      }
    }

  }


  @media screen and (max-width: 1024px){
    h2{
      font-size: 5vw;
    }

    h4{
      font-size: 3vw;
    }

    img{
      margin-top: 1vh;
      width: 18vw;
    }

    input, #byPDC_module{
      margin-left: 10vw;
      width: 60vw;
      margin-top: 2vh;
      height: 7vh;
      font-size: 2.5vw;
    }

    .error-fname, .error-lname, .error-bday, .error-certnum, .error-PDCmodule{
      margin-left: 10vw;
    }


    #reservation_fname,
    #reservation_mname,
    #reservation_lname,
    #reservation_email,
    #reservation_add,
    #reservation_mobileNum,
    #reservation_srnNum{
      margin-left: 10vw;
      width: 53vw;
      margin-top: 2vh;
      height: 5vh;
      font-size: 2.5vw;
      border-radius: 30px;
      padding-left: 3vw;
    }

    #btn-submit-reservation{
      width: 35vw;
      height: 5vh;
      font-size: 3vw;
      margin-top: 1vh;

    }


    .buttons{
      margin-top: 2vh;
    }


    #btn-verifyByName,
    #btn-verifyByCerticateNumber,
    #btn-verifyEnrolleesOnPDC,
    #btn-courseReservation{
      margin-top: 3vh;
      width: 65vw;
      height: 10vh;
      font-size: 3vw;
      border-radius: 65px;

    }

    #byName_submit, #byCert_submit, #byPDC_submit{
      width: 45vw;
      height: 5vh;
      font-size: 2.5vw;
      margin-top: 1vh;
    }

    .btn-goBack{
      width: 45vw;
      height: 5vh;
      font-size: 2.5vw;
      margin-top: 1vh;
    }

    #coursesOffered{

      margin-top: 3vh;
      .btn-category{
        width: 35vw;
        height: 10vh;
        margin-top: 3.3vh;
        font-size: 2.5vw;
        border-radius: 70px;
      }
    }

    .coursesOffered-container{
      height: 50vh;
      overflow: auto;
    }


  }



  @media screen and (max-width: 800px){

    input, #byPDC_module{
      margin-left: 10vw;
      width: 65vw;
      margin-top: 1vh;
      height: 6vh;
      font-size: 3vw;
    }

    #reservation_fname,
    #reservation_mname,
    #reservation_lname,
    #reservation_email,
    #reservation_add,
    #reservation_mobileNum,
    #reservation_srnNum{
      margin-left: 5vw;
      width: 65vw;
      margin-top: 1vh;
      height: 6vh;
      font-size: 3vw;
      padding-left: 3vw;
    }

    #btn-submit-reservation{
      margin-top: 1vh;
      font-size: 3vw;
    }

    .error-fname, .error-lname, .error-bday, .error-certnum, .error-PDCmodule{

      margin-left: 10vw;
    }

    #btn-verifyByName,
    #btn-verifyByCerticateNumber,
    #btn-verifyEnrolleesOnPDC,
    #btn-courseReservation{
      margin-top: 3vh;
      width: 65vw;
      height: 9vh;
      font-size: 3vw;
      border-radius: 60px;

    }

    #byName_submit, #byCert_submit, #byPDC_submit{
      width: 60vw;
      height: 7vh;
      font-size: 3vw;
      margin-top: 1vh;
    }

    .btn-goBack{
      width: 60vw;
      height: 7vh;
      font-size: 3vw;
      margin-top: 1vh;
    }

    .coursesOffered-container{
      height: 55vh;
      overflow: auto;
    }

    #coursesOffered{

      .btn-category{
        width: 35vw;
        height: 8vh;
        margin-top: 3vh;
        font-size: 2.5vw;

      }
    }
  }

  @media screen and (max-width: 600px){

    input, #byPDC_module{
      margin-left: 5vw;
      width: 70vw;
      margin-top: 1.5vh;
      height: 6vh;
      font-size: 3vw;
    }

    .error-fname, .error-lname, .error-bday, .error-certnum, .error-PDCmodule{

      margin-left: 8vw;
    }

    #reservation_fname,
    #reservation_mname,
    #reservation_lname,
    #reservation_email,
    #reservation_add,
    #reservation_mobileNum,
    #reservation_srnNum{
      margin-left: 5vw;
      width: 60vw;
      margin-top: 1.5vh;
      height: 5vh;
      font-size: 3vw;
      padding-left: 3vw;
    }

    #btn-verifyByName,
    #btn-verifyByCerticateNumber,
    #btn-verifyEnrolleesOnPDC,
    #btn-courseReservation{
      margin-top: 3vh;
      height: 11vh;
      width: 70vw;

    }

    #coursesOffered{

      .btn-category{
        width: 60vw;
        height: 8vh;
        margin-top: 3vh;
        font-size: 3vw;
        border-radius: 50px;
      }
    }

    .coursesOffered-container{
      height: 55vh;
      overflow: auto;
    }

    .btn-goBack{

      margin-top: -1vh;
    }
  }

  @media screen and (max-width: 480px){

    .error-fname, .error-lname, .error-bday, .error-certnum, .error-PDCmodule{
      margin-left: 5vw;
    }


    input, #byPDC_module{
      height: 7vh;
      margin-top: 2vh;
      font-size: 3.5vw;
    }

    h2{
      font-size: 6vw;
    }

    .buttons{
      margin-top: 2vh;
    }


    #btn-verifyByName,
    #btn-verifyByCerticateNumber,
    #btn-verifyEnrolleesOnPDC,
    #btn-courseReservation{
      width: 75vw;
      height: 11vh;
      font-size: 3.2vw;
      border-radius: 60px;
    }

    #byName_submit, #byCert_submit, #byPDC_submit{
      width: 65vw;
      height: 7vh;
      font-size: 3.5vw;
      margin-top: 2vh;
    }

    .btn-goBack{
      width: 65vw;
      height: 7vh;
      font-size: 3.5vw;
      margin-top: -1vh;
    }

    .coursesOffered-container{
      height: 60vh;
      overflow: auto;
    }
  }


  @media screen and (max-width: 412px){
    #btn-verifyByName,
    #btn-verifyByCerticateNumber,
    #btn-verifyEnrolleesOnPDC,
    #btn-courseReservation{
      height: 11vh;
      font-size: 3.5vw;
      margin-top: 3.5vh;
    }

    .btn-goBack{

      margin-bottom: 2vh;
    }
  }

  @media screen and (max-width: 384px){

    input, #byPDC_module{
      height: 7vh;
      margin-top: 2vh;
      font-size: 4vw;
    }

    #btn-verifyByName,
    #btn-verifyByCerticateNumber,
    #btn-verifyEnrolleesOnPDC,
    #btn-courseReservation{

      height: 11vh;
      font-size: 3.5vw;

    }

    #byName_submit, #byCert_submit, #byPDC_submit{

      margin-top: 1vh;
    }

    .btn-goBack{

      margin-top: -1vh;
    }
  }



}
