.header-container {
  #webBanner {
    font-size: 9vw;
    margin-top: 5vw;
    margin-bottom: 6vw;
    font-family: "Archivo Black", sans-serif;
    .title-1 {
      color: $offWhite;
      background-color: $darkBlue;
      padding: 10px;
      border-radius: 5px;
    }
    .title-2 {
      color: $darkBlue;
    }

    @media screen and (max-width: 1024px){
      font-size: 8.8vw;
      margin-bottom: 5vw;
    }

    @media screen and (max-width: 800px){
        margin-bottom: 5vw;
    }


    @media screen and (max-width: 320px){
      margin-bottom: 5vw;
    }
  }


}
