#modal {
  display: none;
  overflow: auto;
  margin: 2vw;
  padding: 2vw;
  position: absolute;
  top: 15%;
  width: 92vw;
  height: 98vw;
  border: 1px solid $lightBlue2;
  border-radius: 10px;
  background-color: $offWhite;
  table {
    width: 92vw;
    padding: 1vw;
    th {
      color: $darkerBlue;
      border-bottom: 1px solid $lightBlue2;
      padding-bottom: 1vw;
      text-align: left;
      font-size: 2.3vw;
    }
    td {
      text-align: left;
      color: $darkerBlue;
      padding-bottom: 1vw;
      padding-top: 1vw;
      border-top: 1px solid $lightBlue2;
      font-size: 2vw;
    }
  }

  #user-avatar{
    width: 8vw;
  }




}

.close {
  display: none;
  position: absolute;
  top: 8%;
  left: 92%;
  // font-size: 2vw;
  // background-color: #d50000;

  a {
    font-weight: bold;
    color: $offWhite;
    text-decoration: none;
    font-size: 6vw;
  }
}
