.options {
  margin-top: 2vh;
  justify-content: center;
  a {
    text-decoration: none;
    color: $darkerBlue;
    font-size: 0.9vw;
  }

  #web-name,
  #web-cert,
  #web-pdc {
    margin-left: 7vw;
    margin-right: 7vw;
    border: 1px solid $offWhite;
    padding: 25px 10px 5px;
    width: 15vw;
    height: 5vh;
    border-radius: 50px;
    box-shadow: 2px 2px 2px $lightGrey;
    transition: width 0.2s, height 0.2s;
    background-color: $lightBlue2;

    #web-icon-name, #web-icon-cert, #web-icon-pdc{
      margin-left: 1vw;
      margin-right: 1vw;
      margin-top: -1vh;
      padding-right: 10px;
      font-size: 2vw;
      border-right: 1px solid $darkBlue;
      transition: font-size 0.2s;
    }

    .web-icon-text{
      margin-top: -2vh;
      transition: font-size 0.2s;
    }

    &:hover{
      height: 7vh;
      width: 17vw;
      padding-left: 12px;
      padding-right: 12px;

      #web-icon-name, #web-icon-cert, #web-icon-pdc{
        margin-top: -0.5vh;
        font-size: 2.5vw;
      }

      .web-icon-text{
        margin-top: -2vh;
       font-size: 1.1vw;
      }

    }

  }

  #mobile-name,
  #mobile-cert,
  #mobile-pdc {
    display: none;
  }



  @media screen and (max-width: 1024px) {
    #web-name,
    #web-cert,
    #web-pdc {
      display: none;
    }

    #mobile-name,
    #mobile-cert,
    #mobile-pdc {
      display: block;
      background-color: $lightBlue2;
      border: 1px solid $lightBlue2;
      margin-top: 6vh;
      padding-top: 2vh;
      width: 80vw;
      height: 9vh;
      border-radius: 100px;

      .mobile-options-icon-container{
        margin-top: 0.1vh;
        margin-left: 5vw;
      }

      .mobile-icon{
        font-size: 10vw;
        border-right: 1px solid #333;
        padding-right: 5vw;
      }

      .mobile-options-text-container{
        margin-top: -2vh;
        padding-left: 3vw;
        margin-left: 3vw;
        font-size: 4vw;
      }
    }
  }
}
