.options {
  margin-top: 5px;
  justify-content: center;
  a {
    text-decoration: none;
    color: $darkerBlue;
    font-size: 1.3rem;
  }
  #web-name,
  #web-cert,
  #web-pdc {
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid $offWhite;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px $lightGrey;
    transition: width 0.2s;
    background-color: $lightBlue2;

    i {
      font-size: 1rem;
    }
  }
  #web-name:hover,
  #web-cert:hover,
  #web-pdc:hover {
    width: 320px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #mobile-name,
  #mobile-cert,
  #mobile-pdc {
    display: none;
  }

  @media screen and (max-width: 1680px) and (max-height: 1050px) {
    a {
      font-size: 1rem;
    }
    #web-name,
    #web-cert,
    #web-pdc {
      margin-left: 90px;
      margin-right: 90px;
      padding-top: 20px;
      width: 250px;
      height: 40px;
    }

    #web-name:hover,
    #web-cert:hover,
    #web-pdc:hover {
      width: 270px;
    }
  }

  @media screen and (max-width: 1366px) and (max-height: 768px) {
    a {
      font-size: 0.8rem;
    }
    #web-name,
    #web-cert,
    #web-pdc {
      margin-left: 80px;
      margin-right: 80px;
      padding-top: 20px;
      width: 220px;
      height: 40px;
    }

    #web-name:hover,
    #web-cert:hover,
    #web-pdc:hover {
      width: 240px;
    }
  }

  @media screen and (max-width: 1280px) and (max-height: 1024px) {
    margin-top: 20px;
    a {
      font-size: 0.9rem;
    }
    #web-name,
    #web-cert,
    #web-pdc {
      margin-left: 80px;
      margin-right: 80px;
      padding-top: 20px;
      width: 200px;
      height: 40px;
    }

    #web-name:hover,
    #web-cert:hover,
    #web-pdc:hover {
      width: 220px;
    }
  }

  @media screen and (max-width: 1024px) and( max-height: 768px) {
    #web-name,
    #web-cert,
    #web-pdc {
      display: none;
    }

    #mobile-name,
    #mobile-cert,
    #mobile-pdc {
      display: block;
      background-color: $lightBlue2;
      border: 1px solid $lightBlue2;
      margin-top: 25px;
      padding-top: 20px;
      width: 450px;
      height: 50px;
      border-radius: 20px;
      box-shadow: 1px 1px 2px $semiDarkGrey;
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 768px) and (max-height: 1280px) {
    #web-name,
    #web-cert,
    #web-pdc {
      display: none;
    }

    #mobile-name,
    #mobile-cert,
    #mobile-pdc {
      display: block;
      background-color: $lightBlue2;
      border: 1px solid $lightBlue2;
      margin-top: 40px;
      padding-top: 30px;
      width: 500px;
      height: 70px;
      border-radius: 20px;
      box-shadow: 1px 1px 2px $semiDarkGrey;
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 640px) and (max-height: 960px) {
    #mobile-name,
    #mobile-cert,
    #mobile-pdc {
      width: 450px;
      height: 60px;
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 500px) and (max-height: 800px) {
    #mobile-name,
    #mobile-cert,
    #mobile-pdc {
      width: 400px;
      height: 55px;
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 492px) and (max-height: 467px) {
    #mobile-name,
    #mobile-cert,
    #mobile-pdc {
      width: 200px;
      height: 10px;
      font-size: 0.8rem;
      padding-top: 10px;
      margin-top: 15px;
      border-radius: 10px;
    }
  }
}
