@import url('https://fonts.googleapis.com/css?family=Abel|Archivo+Black|PT+Serif|Kaushan+Script|PT+Mono|Permanent+Marker|Poiret+One|Montserrat|Ropa+Sans|Kalam|Poiret+One&display=swap');
@import "variable";
@import "navbar";
@import "header";
@import "reserve";

body {
  margin: 0px;
  padding: 0px;
  font-family: $fontFamily;
  background-image: url("../../img/adminBuilding.jpg");
  width: 100vw;
  height: 90vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 1024px){
    height: 100vh;
  }
}

#home-page{
  background: #fff;
  margin-top: 12vh;
  height: 80vh;
  border-radius: 5px;
  // box-shadow: 0px 0px 5px 5px #fafafa;
  background: rgba(255,255,255, 0.8);
}

#modal, #alert-modal, #modalCourses,
#successModal{


  @media screen and (max-width: 1024px){
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 2.3vw;
    button{
        font-size: 2.3vw;
    }
    h4{
      font-size: 2.3vw;
    }
  }

  @media screen and (max-width: 800px){

    font-size: 3vw;
    button{
        font-size: 3vw;
    }
    h4{
      font-size: 3vw;
    }
  }
}

.nmp-admin-login-container{
  background: #fff;
  width: 100vw;
  height: 100vh; /* You must set a specified height */

  h1{
    margin-top: 13vh;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: $darkBlue;
  }

  p{
      text-align: center;
      font-family: 'Poiret One', cursive;
      color: $darkBlue;
    }

    input{
        margin-top: 5vh;
        width: 25vw;
        height: 5vh;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        padding-left: 1vw;
      }
    button{
        margin-top: 5vh;
        width: 25vw;
        height: 5vh;
        border-radius: 8px;
        background: linear-gradient(to right, #0575E6 , #021B79);
        border: 1px solid #021B79;
        color: #fff;
        font-family: 'Poiret One', cursive;
        font-size: 1vw;
      }





}

.nmp-logo-container{
  position: fixed;
  bottom: 0;
  color: $darkBlue;
  background: #fff;
  width: 100vw;
  height: 6vh;
  padding-top: 1vh;

  #nmp-logo{
    width: 3vw;
    margin-left: 42vw;
  }

  h2{
    font-family: 'Kaushan Script', cursive;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 1vw;
    font-size: 1.5vw;
  }


}



.trainee-reservation-container{
  padding-bottom: 20vh;
  background: #fff;
  width: 100vw;
  height: 100vh;
  table{

    th{
      text-align: left;
      color: #fff;
      background: #0B457A;

      font-size: 1vw;
    }
    td{
      color: #607D8B;

    }
  }

  #approved, #rejected{
    display: none;

    table{

      th{
        text-align: left;
        color: #fff;
        background: #0B457A;

        font-size: 1vw;
      }
      td{
        color: #607D8B;

      }
    }
  }
}


.admin-control{
  position: fixed;
  bottom: 0;
  margin-bottom: 0.5vh;
  transition: margin-bottom 2s;
  transition-timing-function: ease;
  width: 100vw;
  height: 8vh;
  background: $lightBlue2;
  padding-bottom: 1vh;
  #up{
    margin-top: -2vh;
    margin-left: 48vw;
    background: $lightBlue2;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 100px;
    transition: display 2s;
    transition-timing-function: ease-in-out;
  }

  #down{
    display: none;
    margin-top: -2vh;
    margin-left: 48vw;
    background: $lightBlue2;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 100px;
    transition: display 2s;
    transition-timing-function: ease-in-out;
  }

  &:hover{
    margin-bottom: 8vh;
    #up{
      display: none;
    }

    #down{
      display: block;
    }
  }

  .admin-control-options{


    div{
      text-align: center;
      border-radius: 5px;
    }

    a{
      margin-top: -3vh;
      text-decoration: none;
      color: $darkBlue;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
