@import 'grid';
@import 'variable';
@import 'navbar';
@import 'navbarDropDown';
@import 'header';
@import 'options';
@import 'formTitle';
@import 'forms';
@import 'button';
@import 'table';

body{
	margin: 0px;
	padding: 0px;
  font-family: $fontFamily;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.column{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.flex-end{
	justify-content: flex-end;
}

.verify{
	font-weight: bold;
	color: $semiDarkGrey;
	margin-top: 30px;
}



	#forms-page{
	  display: none;
	}

	.web-footer{
	  justify-content: space-around;
	  background-color: $darkBlue;
	  width: 100%;
	  bottom: 0;
	  position: fixed;
	  div{
	    margin: auto;
	  }
	  h3{
	    color: $offWhite;
	  }
	  p{
	    color: $offWhite;
	  }
	  #web-nmp{
	    margin-top: 50px;
	    img{
	      width: 80px;
	      height: 70px;
	    }
	    h3{
	      font-size: 1.5rem;
	    }
	  }

	  @media screen and (max-width: 1400px){
	    margin-top: 150px;
	    h3{
	      font-size: 1rem;
	    }
	    #web-nmp{
	      margin-top: 50px;
	      img{
	        width: 70px;
	        height: 60px;
	      }
	      h3{
	        font-size: 1rem;
	      }
	    }
	  }
	}


	.mobile-footer{
	  display: none;
	  flex-direction: column;
	  width: 100%;
	  bottom: 0;
	  position: fixed;
	  height: auto;
	  background-color: $darkBlue;
	  bottom: 0;
	  div{
	    padding-top:5px;
	    padding-bottom: 10px;
	    text-align: center;

	  }
	  h3{
	    color: $offWhite;
	  }

	  @media screen and (max-width: 780px){
	    margin-top: 220px;
	  }

	}

	@media screen and (max-width: 1050px){
	  .mobile-footer{
	    display: block;
	  }
	  .web-footer{
	    display: none;
	  }
	}
