.table-container {
  margin-left: 15vw;
  height: 25vw;
  overflow: auto;
  table {
    padding: 1vw;
    th {
      color: $darkerBlue;
      border-bottom: 1px solid $lightBlue2;
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 1vw;
      font-size: 1vw;
    }
    td {
      color: $darkerBlue;
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 1vw;
      padding-top: 1vw;
      border-top: 1px solid $lightBlue2;
    }
  }

}
