//Color
$offWhite: #f8f9fb;
$lightGrey: #eceff1;
$semiDarkGrey: #455a64;
$darkGrey: #333;
$goldenYellow: #ffc107;
$fontFamily: Helvetica, sans-serif;
$darkerBlue: #001b4b;
$darkBlue: #02457a;
$blue: #018abe;
$lightBlue: #97cadb;
$lightBlue2: #d6e8ee;
$green: #4caf50;
