//Color
$offWhite: #f8f9fb;
$lightGrey: #ECEFF1;
$semiDarkGrey: #455A64;
$darkGrey: #333;
$goldenYellow: #FFC107;
$fontFamily: Helvetica, sans-serif;
$darkerBlue: #001B4B;
$darkBlue: #02457A;
$blue: #018ABE;
$lightBlue: #97CADB;
$lightBlue2: #D6E8EE;
$green: #4CAF50;
