@import url("https://fonts.googleapis.com/css?family=Abel|Archivo+Black|PT+Serif|Kaushan+Script|PT+Mono|Permanent+Marker|Poiret+One|Montserrat|Ropa+Sans|Kalam|Poiret+One&display=swap");
.nav-container {
  position: fixed;
  width: 100vw;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  font-family: 'Poiret One', cursive;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.nav-container h1 {
  text-align: center;
  font-weight: lighter;
}

@media screen and (max-width: 480px) {
  .nav-container h1 {
    font-size: 6vw;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-container {
  text-align: center;
  display: block;
}

.header-container input, .header-container #byPDC_module {
  margin-left: 18vw;
  width: 22vw;
  margin-top: 1vh;
  height: 5vh;
  font-size: 1vw;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.header-container #reservation_fname,
.header-container #reservation_mname,
.header-container #reservation_lname,
.header-container #reservation_email,
.header-container #reservation_add,
.header-container #reservation_mobileNum,
.header-container #reservation_srnNum {
  width: 22vw;
  margin-left: 17vw;
  margin-top: 1vh;
  height: 5vh;
  font-size: 1vw;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.header-container #btn-submit-reservation {
  margin-top: -1vh;
}

.header-container h2 {
  color: #02457a;
  padding-top: 3vh;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 1px 1px #9E9E9E;
}

.header-container h4 {
  padding-top: 3vh;
  color: #02457a;
  font-weight: bold;
}

.header-container img {
  margin-top: 1vh;
  width: 10vw;
}

.header-container .buttons {
  margin-top: 3vh;
}

.header-container #btn-verifyByName,
.header-container #btn-verifyByCerticateNumber,
.header-container #btn-verifyEnrolleesOnPDC,
.header-container #btn-courseReservation {
  margin-top: 3vh;
  width: 25vw;
  height: 7vh;
  background: #02457a;
  border: 1px solid #02457a;
  color: #fff;
  font-weight: bold;
  font-size: 1vw;
  border-radius: 30px;
  -webkit-animation: fadein 1.2s;
  animation: fadein 1.2s;
}

.header-container #byName_submit, .header-container #byCert_submit, .header-container #byPDC_submit {
  width: 20vw;
  background: #02457a;
  border: 1px solid #02457a;
}

.header-container .btn-goBack {
  width: 20vw;
  color: #02457a;
  border: 1px solid #02457a;
  margin-top: -2vh;
}

.header-container .btn-goBack:hover {
  color: #fff;
  background: #02457a;
}

.header-container #verifyByName {
  display: none;
  -webkit-animation: fadein 1.2s;
  animation: fadein 1.2s;
}

.header-container #verifyByCerticateNumber {
  display: none;
  -webkit-animation: fadein 1.2s;
  animation: fadein 1.2s;
}

.header-container #verifyByPDCenrollees {
  display: none;
  -webkit-animation: fadein 1.2s;
  animation: fadein 1.2s;
}

.header-container .error-fname, .header-container .error-lname, .header-container .error-bday, .header-container .error-certnum, .header-container .error-PDCmodule {
  display: none;
  float: left;
  margin-left: 22vw;
}

.header-container #coursesOffered {
  display: none;
  margin-top: 5vh;
}

.header-container #coursesOffered .btn-category {
  width: 30vw;
  height: 10vh;
  margin-top: 2vh;
  background: #02457a;
  border-radius: 50px;
}

@media screen and (max-width: 1600px) {
  .header-container input, .header-container #byPDC_module {
    margin-left: 22vw;
    width: 23vw;
    margin-top: 1vh;
    height: 5vh;
  }
  .header-container img {
    margin-top: 1vh;
    width: 8vw;
  }
  .header-container #reservation_fname,
  .header-container #reservation_mname,
  .header-container #reservation_lname,
  .header-container #reservation_email,
  .header-container #reservation_add,
  .header-container #reservation_mobileNum,
  .header-container #reservation_srnNum {
    margin-left: 20vw;
    width: 23vw;
    margin-top: 1vh;
    height: 5vh;
  }
  .header-container #coursesOffered {
    margin-top: 5vh;
  }
  .header-container #coursesOffered .btn-category {
    width: 25vw;
    height: 10vh;
    margin-top: 2vh;
  }
}

@media screen and (max-width: 1024px) {
  .header-container h2 {
    font-size: 5vw;
  }
  .header-container h4 {
    font-size: 3vw;
  }
  .header-container img {
    margin-top: 1vh;
    width: 18vw;
  }
  .header-container input, .header-container #byPDC_module {
    margin-left: 20vw;
    width: 50vw;
    margin-top: 2vh;
    height: 5vh;
    font-size: 2.5vw;
  }
  .header-container #reservation_fname,
  .header-container #reservation_mname,
  .header-container #reservation_lname,
  .header-container #reservation_email,
  .header-container #reservation_add,
  .header-container #reservation_mobileNum,
  .header-container #reservation_srnNum {
    margin-left: 15vw;
    width: 50vw;
    margin-top: 2vh;
    height: 5vh;
    font-size: 2.5vw;
    border-radius: 30px;
  }
  .header-container #btn-submit-reservation {
    width: 30vw;
    height: 5vh;
    font-size: 2vw;
  }
  .header-container .buttons {
    margin-top: 2vh;
  }
  .header-container #btn-verifyByName,
  .header-container #btn-verifyByCerticateNumber,
  .header-container #btn-verifyEnrolleesOnPDC,
  .header-container #btn-courseReservation {
    margin-top: 3vh;
    width: 55vw;
    height: 8vh;
    font-size: 2.5vw;
    border-radius: 50px;
  }
  .header-container #byName_submit, .header-container #byCert_submit, .header-container #byPDC_submit {
    width: 45vw;
    height: 5vh;
    font-size: 2.5vw;
    margin-top: 1vh;
  }
  .header-container .btn-goBack {
    width: 45vw;
    height: 5vh;
    font-size: 2.5vw;
    margin-top: 1vh;
  }
  .header-container #coursesOffered {
    margin-top: 5vh;
  }
  .header-container #coursesOffered .btn-category {
    width: 40vw;
    height: 10vh;
    margin-top: 3vh;
    font-size: 2.5vw;
    border-radius: 60px;
  }
  .header-container #coursesOffered-container {
    height: 45vh;
    overflow: auto;
  }
}

@media screen and (max-width: 800px) {
  .header-container input, .header-container #byPDC_module {
    margin-left: 10vw;
    width: 65vw;
    margin-top: 1vh;
    height: 6vh;
    font-size: 3vw;
  }
  .header-container #reservation_fname,
  .header-container #reservation_mname,
  .header-container #reservation_lname,
  .header-container #reservation_email,
  .header-container #reservation_add,
  .header-container #reservation_mobileNum,
  .header-container #reservation_srnNum {
    margin-left: 5vw;
    width: 65vw;
    margin-top: 1vh;
    height: 6vh;
    font-size: 3vw;
    padding-left: 3vw;
  }
  .header-container #btn-submit-reservation {
    margin-top: 1vh;
    font-size: 3vw;
  }
  .header-container .error-fname, .header-container .error-lname, .header-container .error-bday, .header-container .error-certnum, .header-container .error-PDCmodule {
    margin-left: 10vw;
  }
  .header-container #btn-verifyByName,
  .header-container #btn-verifyByCerticateNumber,
  .header-container #btn-verifyEnrolleesOnPDC,
  .header-container #btn-courseReservation {
    margin-top: 3vh;
    width: 65vw;
    height: 9vh;
    font-size: 3vw;
    border-radius: 60px;
  }
  .header-container #byName_submit, .header-container #byCert_submit, .header-container #byPDC_submit {
    width: 60vw;
    height: 7vh;
    font-size: 3vw;
    margin-top: 1vh;
  }
  .header-container .btn-goBack {
    width: 60vw;
    height: 7vh;
    font-size: 3vw;
    margin-top: 1vh;
  }
  .header-container #coursesOffered-container {
    height: 40vh;
    overflow: auto;
  }
  .header-container #coursesOffered .btn-category {
    width: 35vw;
    height: 8vh;
    margin-top: 3vh;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 600px) {
  .header-container #reservation_fname,
  .header-container #reservation_mname,
  .header-container #reservation_lname,
  .header-container #reservation_email,
  .header-container #reservation_add,
  .header-container #reservation_mobileNum,
  .header-container #reservation_srnNum {
    margin-left: 5vw;
    width: 60vw;
    margin-top: 1.5vh;
    height: 5vh;
    font-size: 3vw;
    padding-left: 3vw;
  }
  .header-container #coursesOffered .btn-category {
    width: 60vw;
    height: 8vh;
    margin-top: 3vh;
    font-size: 3vw;
    border-radius: 50px;
  }
  .header-container #coursesOffered-container {
    height: 50vh;
    overflow: auto;
  }
  .header-container .btn-goBack {
    margin-top: -1vh;
  }
}

@media screen and (max-width: 480px) {
  .header-container input, .header-container #byPDC_module {
    margin-top: 0vh;
  }
  .header-container h2 {
    font-size: 6vw;
  }
  .header-container .buttons {
    margin-top: 1vh;
  }
  .header-container #btn-verifyByName,
  .header-container #btn-verifyByCerticateNumber,
  .header-container #btn-verifyEnrolleesOnPDC,
  .header-container #btn-courseReservation {
    width: 75vw;
    height: 9vh;
    font-size: 3.2vw;
    border-radius: 60px;
  }
  .header-container #byName_submit, .header-container #byCert_submit, .header-container #byPDC_submit {
    width: 60vw;
    height: 5vh;
    font-size: 3vw;
    margin-top: 1vh;
  }
  .header-container .btn-goBack {
    width: 60vw;
    height: 5vh;
    font-size: 3vw;
    margin-top: -2vh;
  }
}

@media screen and (max-width: 320px) {
  .header-container #byName_submit, .header-container #byCert_submit, .header-container #byPDC_submit {
    margin-top: -3vh;
  }
  .header-container .btn-goBack {
    margin-top: -8vh;
  }
}

.more-info-page {
  display: none;
}

.more-info-content {
  margin-left: 7vw;
  border-left: 3px solid #CFD8DC;
  -webkit-box-shadow: 2px 2px 2px #FAFAFA;
  box-shadow: 2px 2px 2px #FAFAFA;
  padding: 0.5vw;
  width: 80vw;
}

.more-info-content h2 {
  background: #d6e8ee;
  padding: 0.5vw;
  width: 20vw;
  border: 1px solid #d6e8ee;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-box-shadow: 2px 2px 2px #d6e8ee;
  box-shadow: 2px 2px 2px #d6e8ee;
}

@media screen and (max-width: 1024px) {
  .more-info-content h2 {
    font-size: 2vw;
    width: 30vw;
  }
}

@media screen and (max-width: 800px) {
  .more-info-content h2 {
    font-size: 3vw;
    width: 45vw;
  }
}

@media screen and (max-width: 414px) {
  .more-info-content h2 {
    font-size: 4vw;
    width: 55vw;
  }
}

.more-info-content table {
  width: 80vw;
}

.more-info-content table th {
  text-align: left;
  padding: 0.3vw;
  background: #eceff1;
}

.more-info-content table td {
  padding: 0.3vw;
  border-left: 1px solid #f8f9fb;
  border-right: 1px solid #f8f9fb;
}

@media screen and (max-width: 1024px) {
  .more-info-content {
    margin-left: 1.5vw;
    width: 95vw;
  }
  .more-info-content table {
    width: 95vw;
  }
  .more-info-content table th {
    padding: 1vw;
  }
  .more-info-content table td {
    padding: 1vw;
  }
}

@media screen and (max-width: 414px) {
  .more-info-content table th {
    font-size: 3vw;
  }
  .more-info-content table td {
    font-size: 2.5vw;
  }
}

.spacer {
  height: 10vh;
}

@media screen and (max-width: 1024px) {
  .spacer {
    height: 7vh;
  }
}

.spacer-1 {
  height: 12vh;
}

@media screen and (max-width: 1024px) {
  .spacer-1 {
    height: 10vh;
  }
}

@media screen and (max-width: 375px) {
  .spacer-1 {
    height: 8vh;
  }
}

.reserve-container {
  margin-top: 8vh;
  border: 1px solid #E0E0E0;
  width: 100vw;
  height: 90vh;
  -webkit-box-shadow: 1px 1px 1px #EEEEEE;
  box-shadow: 1px 1px 1px #EEEEEE;
}

.reserve-container h6 {
  text-align: center;
  font-size: 1vw;
  background: #E0E0E0;
  margin-top: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #02457a;
}

.reserve-container .reservation-form {
  margin-left: 1vw;
  margin-top: 5vh;
}

.reserve-container .reservation-form input {
  width: 30vw;
  margin-top: 1vh;
  height: 3.5vh;
  border: 1px solid #E0E0E0;
  border-radius: 30px;
  padding-left: 1vw;
}

.reserve-container .reservation-form label {
  margin-top: 1vh;
  color: #001b4b;
}

.reserve-container .btn-reservation {
  margin-top: 3vh;
}

.reserve-container .btn-reservation button {
  width: 7vw;
  height: 4vh;
  background: #d6e8ee;
  border: 1px solid #d6e8ee;
  color: #02457a;
  border-radius: 30px;
}

@media screen and (max-width: 1024px) {
  .reserve-container {
    height: 85vh;
  }
  .reserve-container h6 {
    font-size: 2.5vw;
  }
  .reserve-container .reservation-form {
    margin-left: 0;
    margin-top: 4vh;
  }
  .reserve-container .reservation-form input {
    width: 70vw;
    margin-top: 2vh;
    height: 7vh;
    padding-left: 2vw;
    font-size: 2.5vw;
  }
  .reserve-container .reservation-form label {
    margin-top: 4vh;
    font-size: 2.5vw;
  }
  .reserve-container .btn-reservation {
    margin-top: 5vh;
  }
  .reserve-container .btn-reservation button {
    width: 30vw;
    height: 6vh;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 600px) {
  .reserve-container {
    margin-top: 8vh;
    height: 85vh;
  }
  .reserve-container h6 {
    font-size: 3vw;
  }
  .reserve-container .reservation-form {
    margin-left: 0;
    margin-top: 1vh;
  }
  .reserve-container .reservation-form input {
    width: 80vw;
    margin-top: 2vh;
    padding-left: 3vw;
    font-size: 3vw;
  }
  .reserve-container .reservation-form label {
    margin-top: 2vh;
    font-size: 3vw;
  }
  .reserve-container .btn-reservation {
    margin-top: 8vh;
  }
  .reserve-container .btn-reservation button {
    width: 30vw;
    height: 5vh;
    font-size: 3vw;
  }
}

@media screen and (max-width: 412px) {
  .reserve-container {
    margin-top: 8vh;
    height: 87vh;
  }
  .reserve-container .reservation-form {
    margin-left: 0;
    margin-top: 1vh;
  }
  .reserve-container .reservation-form input {
    height: 6.5vh;
    font-size: 3vw;
  }
  .reserve-container .reservation-form label {
    margin-top: 2vh;
    font-size: 3.5vw;
  }
  .reserve-container .btn-reservation {
    margin-top: 5vh;
  }
  .reserve-container .btn-reservation button {
    width: 38vw;
    height: 6vh;
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 384px) {
  .reserve-container {
    height: 88vh;
    margin-top: 6vh;
  }
  .reserve-container h6 {
    font-size: 3.2vw;
  }
  .reserve-container .reservation-form {
    margin-left: 0;
    margin-top: 0.5vh;
  }
  .reserve-container .reservation-form input {
    font-size: 3.5vw;
  }
  .reserve-container .reservation-form label {
    font-size: 3.5vw;
  }
  .reserve-container .btn-reservation button {
    width: 35vw;
    height: 6vh;
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 360px) {
  .reserve-container {
    height: 90vh;
  }
  .reserve-container .reservation-form input {
    height: 7vh;
    margin-top: 1vh;
  }
  .reserve-container .btn-reservation {
    margin-top: 5vh;
  }
  .reserve-container .btn-reservation button {
    width: 40vw;
    height: 7vh;
  }
}

@media screen and (max-width: 320px) {
  .reserve-container .reservation-form input {
    height: 6vh;
    margin-top: 0.5vh;
  }
  .reserve-container .reservation-form label {
    margin-top: 0.5vh;
  }
}

.alert-reservation-container {
  display: none;
  border: 1px solid #d6e8ee;
  background: #d6e8ee;
  position: fixed;
  width: 30vw;
  height: 20vh;
  top: 10vh;
  left: 35vw;
  border-radius: 5px;
}

.alert-reservation-container h2 {
  text-align: center;
  color: #001b4b;
}

.alert-reservation-container p {
  text-align: center;
  color: #001b4b;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.alert-reservation-container #btn-confirm-reservation {
  border: 1px solid #001b4b;
  width: 7vw;
  height: 2.5vh;
  background: #001b4b;
  color: #fff;
  border-radius: 30px;
  padding-left: 1vw;
  padding-right: 1vw;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .alert-reservation-container {
    width: 65vw;
    left: 18vw;
    height: 24vh;
  }
  .alert-reservation-container h2 {
    font-size: 4vw;
  }
  .alert-reservation-container p {
    font-size: 2.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2.5vh;
  }
  .alert-reservation-container #btn-confirm-reservation {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 800px) {
  .alert-reservation-container {
    width: 70vw;
    left: 15vw;
  }
  .alert-reservation-container h2 {
    font-size: 4.5vw;
  }
  .alert-reservation-container p {
    font-size: 2.5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 3vh;
  }
}

@media screen and (max-width: 412px) {
  .alert-reservation-container {
    width: 80vw;
    left: 11vw;
    height: 25vh;
  }
  .alert-reservation-container h2 {
    font-size: 5vw;
  }
  .alert-reservation-container p {
    font-size: 3vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-bottom: 3vh;
  }
  .alert-reservation-container #btn-confirm-reservation {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    font-size: 3.3vw;
  }
}

@media screen and (max-width: 375px) {
  .alert-reservation-container {
    height: 20vh;
  }
}

@media screen and (max-width: 360px) {
  .alert-reservation-container {
    height: 28vh;
  }
}

.reservation-nav-container {
  position: fixed;
  width: 100vw;
  -webkit-box-shadow: 1px 2px 3px #f8f9fb;
  box-shadow: 1px 2px 3px #f8f9fb;
  background: #fff;
  height: 6vh;
}

.reservation-nav-container .reservation-back-home {
  background: #d6e8ee;
  padding-top: 1.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  font-size: 1vw;
  color: #001b4b;
  text-decoration: none;
}

.reservation-nav-container .reservation-mobile-logo {
  display: none;
}

@media screen and (max-width: 1024px) {
  .reservation-nav-container .reservation-back-home {
    display: none;
  }
  .reservation-nav-container .reservation-mobile-logo {
    display: block;
    font-size: 4vw;
    padding-top: 2vh;
    padding-left: 2vw;
    color: #001b4b;
    text-decoration: none;
  }
}

@media screen and (max-width: 411px) {
  .reservation-nav-container {
    height: 5vh;
  }
  .reservation-nav-container .reservation-mobile-logo {
    font-size: 5vw;
    padding-top: 1vh;
    padding-left: 1.5vw;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Abel", sans-serif;
  background-image: url("../../img/adminBuilding.jpg");
  width: 100vw;
  height: 90vh;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  body {
    height: 100vh;
  }
}

#home-page {
  background: #fff;
  margin-top: 12vh;
  height: 80vh;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1024px) {
  #modal, #alert-modal, #modalCourses,
  #successModal {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 2.3vw;
  }
  #modal button, #alert-modal button, #modalCourses button,
  #successModal button {
    font-size: 2.3vw;
  }
  #modal h4, #alert-modal h4, #modalCourses h4,
  #successModal h4 {
    font-size: 2.3vw;
  }
}

@media screen and (max-width: 800px) {
  #modal, #alert-modal, #modalCourses,
  #successModal {
    font-size: 3vw;
  }
  #modal button, #alert-modal button, #modalCourses button,
  #successModal button {
    font-size: 3vw;
  }
  #modal h4, #alert-modal h4, #modalCourses h4,
  #successModal h4 {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=styles.css.map */