.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.nav-container {
  -webkit-box-shadow: 1px 2px 3px #f8f9fb;
  box-shadow: 1px 2px 3px #f8f9fb;
  font-size: 1rem;
}

.nav-container div {
  padding: 20px;
}

.nav-container a {
  text-decoration: none;
  color: #001b4b;
}

.nav-container .info {
  padding: 10px 18px;
  border-radius: 50px;
  background-color: #d6e8ee;
}

.nav-container .access {
  padding: 10px 12px;
  border-radius: 50px;
  background-color: #d6e8ee;
}

.nav-container img {
  width: 30px;
}

.nav-container .brand {
  font-weight: bold;
  color: #001b4b;
  font-size: 2rem;
}

.nav-container .filler {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.nav-container #mobile-home {
  display: none;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .nav-container {
    font-size: 0.7rem;
  }
  .nav-container div {
    padding: 18px;
  }
  .nav-container .info {
    padding: 8px 13px;
  }
  .nav-container .access {
    padding: 8px 10px;
  }
  .nav-container img {
    width: 25px;
  }
  .nav-container .brand {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1280px) and (max-height: 1024px) {
  .nav-container {
    font-size: 0.7rem;
  }
  .nav-container div {
    padding: 17px;
  }
}

@media screen and (max-width: 1050px) {
  .nav-container #mobile-home {
    display: block;
  }
  .nav-container #web {
    display: none;
  }
}

@media screen and (max-width: 768px) and (max-height: 1280px) {
  .nav-container img {
    width: 28px;
  }
  .nav-container .brand {
    font-size: 1.8rem;
  }
  .nav-container div {
    padding: 15px;
  }
}

@media screen and (max-width: 500px) and (max-height: 800px) {
  .nav-container img {
    width: 25px;
  }
  .nav-container .brand {
    font-size: 1.5rem;
  }
  .nav-container div {
    padding: 13px;
  }
}

@media screen and (max-width: 480px) and (max-height: 854px) {
  .nav-container img {
    width: 23px;
  }
  .nav-container .brand {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 384px) and (max-height: 640px) {
  .nav-container img {
    width: 23px;
  }
  .nav-container .brand {
    font-size: 1.3rem;
  }
}

.nav-mobile-container {
  -webkit-box-shadow: 1px 2px 3px #f8f9fb;
  box-shadow: 1px 2px 3px #f8f9fb;
  font-size: 1rem;
}

.nav-mobile-container div {
  padding: 15px;
}

.nav-mobile-container a {
  text-decoration: none;
  color: #001b4b;
}

.nav-mobile-container .brand-mobile {
  font-weight: bold;
  color: #001b4b;
  font-size: 1.5rem;
}

.nav-mobile-container .filler-mobile {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  .nav-mobile-container {
    font-size: 0.8rem;
  }
  .nav-mobile-container div {
    padding: 10px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 10px;
  width: 100%;
  height: auto;
  float: right;
}

.dropdown-content a {
  color: #333;
  text-decoration: none;
  padding: 20px;
}

.header-container #webBanner {
  font-size: 12rem;
  margin-top: 100px;
  text-shadow: 1px 2px 2px #333;
}

.header-container #webBanner .title-1 {
  color: #f8f9fb;
  background-color: #02457a;
  padding: 10px;
  border-radius: 5px;
}

.header-container #webBanner .title-2 {
  color: #02457a;
}

@media screen and (max-width: 1680px) and (max-height: 1050px) {
  .header-container #webBanner {
    font-size: 10rem;
    margin-top: 80px;
  }
}

@media screen and (max-width: 1440px) and (max-height: 900px) {
  .header-container #webBanner {
    font-size: 9.5rem;
    margin-top: 100px;
  }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .header-container #webBanner {
    font-size: 8rem;
  }
}

@media screen and (max-width: 1280px) and (max-height: 1024px) {
  .header-container #webBanner {
    font-size: 8rem;
    margin-top: 120px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .header-container #webBanner {
    font-size: 6.5rem;
    margin-top: 130px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  .header-container #webBanner {
    font-size: 6rem;
    margin-top: 100px;
  }
}

@media screen and (max-width: 800px) and (max-height: 1280px) {
  .header-container #webBanner {
    font-size: 5rem;
    margin-top: 140px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) and (max-height: 1280px) {
  .header-container #webBanner {
    font-size: 5rem;
  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  .header-container #webBanner {
    font-size: 4.5rem;
    margin-top: 140px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 640px) and (max-height: 960px) {
  .header-container #webBanner {
    font-size: 3.5rem;
    margin-top: 120px;
  }
}

@media screen and (max-width: 600px) and (max-height: 1024px) {
  .header-container #webBanner {
    font-size: 3.5rem;
    margin-bottom: 40px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 500px) and (max-height: 800px) {
  .header-container #webBanner {
    font-size: 3rem;
    margin-top: 80px;
  }
}

@media screen and (max-width: 492px) and (max-height: 467px) {
  .header-container #webBanner {
    font-size: 3rem;
    margin-top: 50px;
  }
}

@media screen and (max-width: 480px) and (max-height: 854px) {
  .header-container #webBanner {
    font-size: 2.8rem;
    margin-top: 100px;
  }
}

@media screen and (max-width: 414px) and (max-height: 736px) {
  .header-container #webBanner {
    font-size: 2.5rem;
    margin-top: 80px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 412px) and (max-height: 732px) {
  .header-container #webBanner {
    font-size: 2.5rem;
    margin-top: 70px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 411px) and (max-height: 823px) {
  .header-container #webBanner {
    font-size: 2.5rem;
    margin-top: 80px;
  }
}

@media screen and (max-width: 411px) and (max-height: 731px) {
  .header-container #webBanner {
    font-size: 2.4rem;
    margin-top: 80px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 384px) and (max-height: 640px) {
  .header-container #webBanner {
    font-size: 2.3rem;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 375px) and (max-height: 812px) {
  .header-container #webBanner {
    font-size: 2.3rem;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .header-container #webBanner {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
  .header-container #webBanner {
    font-size: 2.1rem;
    margin-bottom: 10px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 320px) and (max-height: 568px) {
  .header-container #webBanner {
    font-size: 1.9rem;
    margin-bottom: 10px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  .header-container #webBanner {
    font-size: 1.7rem;
    margin-top: 40px;
  }
}

.options {
  margin-top: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.options a {
  text-decoration: none;
  color: #001b4b;
  font-size: 1rem;
}

.options #web-name,
.options #web-cert,
.options #web-pdc {
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid #f8f9fb;
  padding: 25px 10px 5px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 2px #eceff1;
  box-shadow: 2px 2px 2px #eceff1;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
  background-color: #d6e8ee;
}

.options #web-name #web-icon-name, .options #web-name #web-icon-cert, .options #web-name #web-icon-pdc,
.options #web-cert #web-icon-name,
.options #web-cert #web-icon-cert,
.options #web-cert #web-icon-pdc,
.options #web-pdc #web-icon-name,
.options #web-pdc #web-icon-cert,
.options #web-pdc #web-icon-pdc {
  margin-left: 12px;
  margin-right: 5px;
  margin-top: -5px;
  padding-right: 10px;
  font-size: 2.5rem;
  border-right: 1px solid #02457a;
}

.options #web-name .web-icon-text,
.options #web-cert .web-icon-text,
.options #web-pdc .web-icon-text {
  margin-top: -10px;
}

.options #web-name:hover,
.options #web-cert:hover,
.options #web-pdc:hover {
  width: 320px;
  padding-left: 12px;
  padding-right: 12px;
}

.options #mobile-name,
.options #mobile-cert,
.options #mobile-pdc {
  display: none;
}

@media screen and (max-width: 1680px) and (max-height: 1050px) {
  .options a {
    font-size: 0.8rem;
  }
  .options #web-name,
  .options #web-cert,
  .options #web-pdc {
    margin-left: 90px;
    margin-right: 90px;
    padding-top: 20px;
    width: 250px;
    height: 40px;
  }
  .options #web-name:hover,
  .options #web-cert:hover,
  .options #web-pdc:hover {
    width: 270px;
  }
}

@media screen and (max-width: 1440px) and (max-height: 900px) {
  .options #web-name,
  .options #web-cert,
  .options #web-pdc {
    margin-left: 90px;
    margin-right: 90px;
    padding-top: 20px;
    width: 250px;
    height: 40px;
  }
  .options #web-name #web-icon-name, .options #web-name #web-icon-cert, .options #web-name #web-icon-pdc,
  .options #web-cert #web-icon-name,
  .options #web-cert #web-icon-cert,
  .options #web-cert #web-icon-pdc,
  .options #web-pdc #web-icon-name,
  .options #web-pdc #web-icon-cert,
  .options #web-pdc #web-icon-pdc {
    margin-left: 12px;
    margin-right: 5px;
    margin-top: -5px;
    padding-right: 10px;
    font-size: 2.3rem;
    border-right: 1px solid #02457a;
  }
  .options #web-name .web-icon-text,
  .options #web-cert .web-icon-text,
  .options #web-pdc .web-icon-text {
    margin-top: -10px;
  }
  .options #web-name:hover,
  .options #web-cert:hover,
  .options #web-pdc:hover {
    width: 270px;
  }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .options a {
    font-size: 0.8rem;
  }
  .options #web-name,
  .options #web-cert,
  .options #web-pdc {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    width: 220px;
    height: 40px;
  }
  .options #web-name:hover,
  .options #web-cert:hover,
  .options #web-pdc:hover {
    width: 240px;
  }
}

@media screen and (max-width: 1360px) and (max-height: 664px) {
  .options a {
    font-size: 0.7rem;
  }
  .options #web-name,
  .options #web-cert,
  .options #web-pdc {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    width: 220px;
    height: 40px;
  }
  .options #web-name #web-icon-name, .options #web-name #web-icon-cert, .options #web-name #web-icon-pdc,
  .options #web-cert #web-icon-name,
  .options #web-cert #web-icon-cert,
  .options #web-cert #web-icon-pdc,
  .options #web-pdc #web-icon-name,
  .options #web-pdc #web-icon-cert,
  .options #web-pdc #web-icon-pdc {
    margin-left: 12px;
    margin-right: 5px;
    margin-top: -5px;
    padding-right: 10px;
    font-size: 1.6rem;
    border-right: 1px solid #02457a;
  }
  .options #web-name .web-icon-text,
  .options #web-cert .web-icon-text,
  .options #web-pdc .web-icon-text {
    margin-top: -10px;
  }
  .options #web-name:hover,
  .options #web-cert:hover,
  .options #web-pdc:hover {
    width: 240px;
  }
}

@media screen and (max-width: 1280px) and (max-height: 1024px) {
  .options {
    margin-top: 20px;
  }
  .options a {
    font-size: 0.9rem;
  }
  .options #web-name,
  .options #web-cert,
  .options #web-pdc {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    width: 200px;
    height: 40px;
  }
  .options #web-name:hover,
  .options #web-cert:hover,
  .options #web-pdc:hover {
    width: 220px;
  }
}

@media screen and (max-width: 1280px) and (max-height: 950px) {
  .options a {
    font-size: 0.7rem;
  }
  .options #web-name,
  .options #web-cert,
  .options #web-pdc {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    width: 215px;
    height: 40px;
  }
  .options #web-name #web-icon-name, .options #web-name #web-icon-cert, .options #web-name #web-icon-pdc,
  .options #web-cert #web-icon-name,
  .options #web-cert #web-icon-cert,
  .options #web-cert #web-icon-pdc,
  .options #web-pdc #web-icon-name,
  .options #web-pdc #web-icon-cert,
  .options #web-pdc #web-icon-pdc {
    margin-left: 12px;
    margin-right: 5px;
    margin-top: -5px;
    padding-right: 10px;
    font-size: 1.8rem;
    border-right: 1px solid #02457a;
  }
  .options #web-name .web-icon-text,
  .options #web-cert .web-icon-text,
  .options #web-pdc .web-icon-text {
    margin-top: -10px;
  }
  .options #web-name:hover,
  .options #web-cert:hover,
  .options #web-pdc:hover {
    width: 230px;
  }
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
  .options a {
    font-size: 0.6rem;
  }
  .options #web-name,
  .options #web-cert,
  .options #web-pdc {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    width: 210px;
    height: 40px;
  }
  .options #web-name #web-icon-name, .options #web-name #web-icon-cert, .options #web-name #web-icon-pdc,
  .options #web-cert #web-icon-name,
  .options #web-cert #web-icon-cert,
  .options #web-cert #web-icon-pdc,
  .options #web-pdc #web-icon-name,
  .options #web-pdc #web-icon-cert,
  .options #web-pdc #web-icon-pdc {
    margin-left: 12px;
    margin-right: 5px;
    margin-top: -5px;
    padding-right: 10px;
    font-size: 2.2rem;
    border-right: 1px solid #02457a;
  }
  .options #web-name .web-icon-text,
  .options #web-cert .web-icon-text,
  .options #web-pdc .web-icon-text {
    margin-top: -5px;
  }
  .options #web-name:hover,
  .options #web-cert:hover,
  .options #web-pdc:hover {
    width: 220px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .options #web-name,
  .options #web-cert,
  .options #web-pdc {
    display: none;
  }
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    display: block;
    background-color: #d6e8ee;
    border: 1px solid #d6e8ee;
    margin-top: 80px;
    padding-top: 40px;
    width: 650px;
    height: 120px;
    border-radius: 50px;
    -webkit-box-shadow: 1px 1px 2px #455a64;
    box-shadow: 1px 1px 2px #455a64;
    font-size: 2rem;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: 1px;
    margin-left: 25px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 70px;
    border-right: 1px solid #333;
    padding-right: 25px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -20px;
    padding-left: 10px;
    margin-left: 15px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  .options #web-name,
  .options #web-cert,
  .options #web-pdc {
    display: none;
  }
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    margin-top: 25px;
    padding-top: 20px;
    width: 450px;
    height: 50px;
    border-radius: 20px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) and (max-height: 1280px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    margin-top: 75px;
    padding-top: 20px;
    width: 570px;
    height: 125px;
    border-radius: 50px;
    font-size: 1.2rem;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: 1px;
    margin-left: 25px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 80px;
    border-right: 1px solid #333;
    padding-right: 25px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -10px;
    padding-left: 10px;
    margin-left: 15px;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) and (max-height: 1280px) {
  .options #web-name,
  .options #web-cert,
  .options #web-pdc {
    display: none;
  }
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    margin-top: 40px;
    padding-top: 30px;
    width: 500px;
    height: 70px;
    border-radius: 20px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    margin-top: 60px;
    padding-top: 30px;
    width: 500px;
    height: 70px;
    border-radius: 30px;
    font-size: 1.5rem;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -7px;
    margin-left: 25px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 60px;
    border-right: 1px solid #333;
    padding-right: 25px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -20px;
    padding-left: 10px;
    margin-left: 15px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 640px) and (max-height: 960px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 450px;
    height: 60px;
    font-size: 1.3rem;
    border-radius: 30px;
  }
}

@media screen and (max-width: 600px) and (max-height: 1024px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 450px;
    height: 70px;
    font-size: 1.3rem;
    border-radius: 30px;
    margin-top: 70px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -5px;
    margin-left: 15px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 50px;
    border-right: 1px solid #333;
    padding-right: 20px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -15px;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) and (max-height: 960px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 450px;
    height: 70px;
    font-size: 1.3rem;
    border-radius: 30px;
    margin-top: 60px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -5px;
    margin-left: 20px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 50px;
    border-right: 1px solid #333;
    padding-right: 25px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -15px;
    padding-left: 10px;
    margin-left: 15px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) and (max-height: 800px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 400px;
    height: 55px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 492px) and (max-height: 467px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 200px;
    height: 10px;
    font-size: 0.8rem;
    padding-top: 10px;
    margin-top: 15px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 480px) and (max-height: 854px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 360px;
    height: 60px;
    font-size: 1rem;
    padding-top: 25px;
    margin-top: 50px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -2px;
    margin-left: 20px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 40px;
    border-right: 1px solid #333;
    padding-right: 20px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -15px;
    padding-left: 5px;
    margin-left: 15px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 414px) and (max-height: 736px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 330px;
    height: 60px;
    font-size: 1rem;
    padding-top: 25px;
    margin-top: 40px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -2px;
    margin-left: 20px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 40px;
    border-right: 1px solid #333;
    padding-right: 20px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -15px;
    padding-left: 5px;
    margin-left: 15px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 412px) and (max-height: 732px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 300px;
    height: 55px;
    font-size: 1rem;
    padding-top: 20px;
    margin-top: 30px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -5px;
    margin-left: 20px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 40px;
    border-right: 1px solid #333;
    padding-right: 15px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -12px;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 411px) and (max-height: 823px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 320px;
    height: 60px;
    font-size: 1rem;
    padding-top: 20px;
    margin-top: 50px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -2px;
    margin-left: 20px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 40px;
    border-right: 1px solid #333;
    padding-right: 15px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -10px;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 411px) and (max-height: 731px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 300px;
    height: 60px;
    font-size: 1rem;
    padding-top: 20px;
    margin-top: 50px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: 1px;
    margin-left: 20px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 40px;
    border-right: 1px solid #333;
    padding-right: 15px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -8px;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 384px) and (max-height: 640px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 250px;
    height: 40px;
    font-size: 0.8rem;
    padding-top: 20px;
    margin-top: 40px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -5px;
    margin-left: 15px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 30px;
    border-right: 1px solid #333;
    padding-right: 10px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -15px;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) and (max-height: 812px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 280px;
    height: 60px;
    font-size: 0.8rem;
    padding-top: 20px;
    margin-top: 50px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -5px;
    margin-left: 15px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 40px;
    border-right: 1px solid #333;
    padding-right: 10px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -12px;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 280px;
    height: 50px;
    font-size: 0.8rem;
    padding-top: 20px;
    margin-top: 40px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -5px;
    margin-left: 15px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 40px;
    border-right: 1px solid #333;
    padding-right: 10px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -12px;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 260px;
    height: 40px;
    font-size: 0.8rem;
    padding-top: 20px;
    margin-top: 30px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -2px;
    margin-left: 15px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 30px;
    border-right: 1px solid #333;
    padding-right: 10px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -12px;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 320px) and (max-height: 568px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 240px;
    height: 40px;
    font-size: 0.8rem;
    padding-top: 20px;
    margin-top: 35px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -5px;
    margin-left: 15px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 30px;
    border-right: 1px solid #333;
    padding-right: 10px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -10px;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 320px) and (max-height: 533px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 240px;
    height: 30px;
    font-size: 0.8rem;
    padding-top: 20px;
    margin-top: 30px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -10px;
    margin-left: 15px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 30px;
    border-right: 1px solid #333;
    padding-right: 10px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -15px;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  .options #mobile-name,
  .options #mobile-cert,
  .options #mobile-pdc {
    width: 220px;
    height: 30px;
    font-size: 0.8rem;
    padding-top: 20px;
    margin-top: 25px;
    border-radius: 30px;
  }
  .options #mobile-name .mobile-options-icon-container,
  .options #mobile-cert .mobile-options-icon-container,
  .options #mobile-pdc .mobile-options-icon-container {
    margin-top: -8px;
    margin-left: 15px;
  }
  .options #mobile-name .mobile-icon,
  .options #mobile-cert .mobile-icon,
  .options #mobile-pdc .mobile-icon {
    font-size: 30px;
    border-right: 1px solid #333;
    padding-right: 10px;
  }
  .options #mobile-name .mobile-options-text-container,
  .options #mobile-cert .mobile-options-text-container,
  .options #mobile-pdc .mobile-options-text-container {
    margin-top: -15px;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 0.6rem;
  }
}

.formTitle {
  color: #001b4b;
  line-height: 0.3;
  margin-left: 20px;
  margin-top: 20px;
}

.formTitle h1 {
  font-size: 2rem;
}

.formTitle p {
  font-size: 1.2rem;
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .formTitle {
    margin-top: 50px;
    margin-left: 30px;
  }
  .formTitle h1 {
    font-size: 3rem;
  }
  .formTitle p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) and (max-height: 1280px) {
  .formTitle {
    margin-left: 30px;
    margin-top: 50px;
  }
  .formTitle h1 {
    font-size: 2.5rem;
  }
  .formTitle p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) and (max-height: 1024px) {
  .formTitle {
    margin-left: 25px;
    margin-top: 40px;
  }
  .formTitle h1 {
    font-size: 2rem;
  }
  .formTitle p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) and (max-height: 854px) {
  .formTitle {
    margin-left: 20px;
    margin-top: 40px;
  }
  .formTitle h1 {
    font-size: 2rem;
  }
  .formTitle p {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 414px) and (max-height: 736px) {
  .formTitle {
    margin-left: 20px;
    margin-top: 35px;
  }
  .formTitle h1 {
    font-size: 1.8rem;
  }
  .formTitle p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 412px) and (max-height: 732px) {
  .formTitle {
    margin-left: 20px;
    margin-top: 30px;
  }
  .formTitle h1 {
    font-size: 1.8rem;
  }
  .formTitle p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 411px) and (max-height: 823px) {
  .formTitle {
    margin-left: 25px;
    margin-top: 25px;
  }
  .formTitle h1 {
    font-size: 1.5rem;
  }
  .formTitle p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 384px) and (max-height: 640px) {
  .formTitle {
    margin-left: 25px;
    margin-top: 30px;
  }
  .formTitle h1 {
    font-size: 1.5rem;
  }
  .formTitle p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 375px) and (max-height: 812px) {
  .formTitle {
    margin-left: 20px;
    margin-top: 35px;
  }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .formTitle {
    margin-left: 20px;
    margin-top: 35px;
  }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
  .formTitle {
    margin-left: 25px;
    margin-top: 25px;
  }
  .formTitle h1 {
    font-size: 1.4rem;
  }
  .formTitle p {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 320px) and (max-height: 533px) {
  .formTitle h1 {
    font-size: 1.5rem;
  }
  .formTitle p {
    font-size: 0.4rem;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  .formTitle {
    margin-left: 20px;
    margin-top: 25px;
  }
  .formTitle h1 {
    font-size: 1.2rem;
  }
  .formTitle p {
    font-size: 0.4rem;
  }
}

.verifyByName-form-container {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border: 1px solid #f8f9fb;
  -webkit-box-shadow: 1px 1px 1px #f8f9fb;
  box-shadow: 1px 1px 1px #f8f9fb;
}

.verifyByName-form-container .form-name,
.verifyByName-form-container .form-cert,
.verifyByName-form-container .form-enrollees {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.verifyByName-form-container .form-input-name {
  width: 500px;
}

.verifyByName-form-container input {
  height: 50px;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #eceff1;
  color: #001b4b;
  -webkit-box-shadow: 1px 1px 1px #f8f9fb;
  box-shadow: 1px 1px 1px #f8f9fb;
}

.verifyByName-form-container label {
  color: #001b4b;
}

@media screen and (max-width: 1680px) and (max-height: 1050px) {
  .verifyByName-form-container .form-input-name {
    width: 300px;
  }
  .verifyByName-form-container input {
    height: 35px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .verifyByName-form-container .form-input-name {
    width: 250px;
  }
  .verifyByName-form-container input {
    height: 35px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1280px) and (max-height: 1024px) {
  .verifyByName-form-container .form-input-name {
    width: 250px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .verifyByName-form-container {
    margin-left: 10px;
  }
  .verifyByName-form-container input {
    height: 80px;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
  .verifyByName-form-container label {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #001b4b;
  }
}

@media screen and (max-width: 800px) and (max-height: 1280px) {
  .verifyByName-form-container {
    margin-left: 10px;
  }
  .verifyByName-form-container .form-input-name {
    width: 400px;
  }
  .verifyByName-form-container input {
    height: 70px;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
  .verifyByName-form-container label {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #001b4b;
  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  .verifyByName-form-container input {
    height: 60px;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
}

@media screen and (max-width: 600px) and (max-height: 1024px) {
  .verifyByName-form-container {
    margin-left: 10px;
  }
  .verifyByName-form-container .form-input-name {
    width: 350px;
  }
  .verifyByName-form-container input {
    height: 60px;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
  .verifyByName-form-container label {
    margin-top: 20px;
    font-size: 1rem;
    color: #001b4b;
  }
}

@media screen and (max-width: 414px) and (max-height: 736px) {
  .verifyByName-form-container .form-input-name {
    width: 250px;
  }
  .verifyByName-form-container input {
    height: 45px;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
  .verifyByName-form-container label {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #001b4b;
  }
}

@media screen and (max-width: 412px) and (max-height: 732px) {
  .verifyByName-form-container {
    margin-left: 10px;
  }
  .verifyByName-form-container .form-input-name {
    width: 250px;
  }
  .verifyByName-form-container input {
    height: 40px;
    font-size: 1rem;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
}

@media screen and (max-width: 411px) and (max-height: 823px) {
  .verifyByName-form-container .form-input-name {
    width: 250px;
  }
  .verifyByName-form-container input {
    height: 50px;
    font-size: 1.3rem;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
  .verifyByName-form-container label {
    margin-top: 10px;
    font-size: 1rem;
    color: #001b4b;
  }
}

@media screen and (max-width: 384px) and (max-height: 640px) {
  .verifyByName-form-container {
    margin-left: 10px;
  }
  .verifyByName-form-container .form-input-name {
    width: 200px;
  }
  .verifyByName-form-container input {
    height: 40px;
    font-size: 1rem;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
  .verifyByName-form-container label {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #001b4b;
  }
}

@media screen and (max-width: 375px) and (max-height: 812px) {
  .verifyByName-form-container input {
    height: 40px;
    font-size: 1rem;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  .verifyByName-form-container input {
    height: 40px;
    font-size: 1rem;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
  .verifyByName-form-container {
    margin-top: 10px;
    margin-left: 10px;
  }
  .verifyByName-form-container .form-input-name {
    width: 220px;
  }
  .verifyByName-form-container input {
    height: 30px;
    font-size: 1rem;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
  .verifyByName-form-container label {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #001b4b;
  }
}

@media screen and (max-width: 320px) and (max-height: 533px) {
  .verifyByName-form-container {
    margin-top: 5px;
    margin-left: 10px;
  }
  .verifyByName-form-container .form-input-name {
    width: 200px;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  .verifyByName-form-container {
    margin-top: 5px;
    margin-left: 10px;
  }
  .verifyByName-form-container .form-input-name {
    width: 160px;
  }
  .verifyByName-form-container input {
    height: 25px;
    font-size: 0.8rem;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    border: 1px solid #eceff1;
    color: #001b4b;
    -webkit-box-shadow: 1px 1px 1px #f8f9fb;
    box-shadow: 1px 1px 1px #f8f9fb;
  }
  .verifyByName-form-container label {
    margin-top: 5px;
    font-size: 0.7rem;
    color: #001b4b;
  }
}

.submit-button {
  color: #001b4b;
  padding: 10px;
  font-size: 1.5rem;
  width: 150px;
  background-color: #d6e8ee;
  border: 1px solid #d6e8ee;
  border-radius: 50px;
  margin-top: 20px;
  -webkit-box-shadow: 1px 1px 1px #f8f9fb;
  box-shadow: 1px 1px 1px #f8f9fb;
}

@media screen and (max-width: 1300px) {
  .submit-button {
    width: 120px;
    padding: 5px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1380px) {
  .submit-button {
    width: 110px;
    padding: 10px;
    font-size: 1rem;
  }
}

.submit-button:hover {
  font-weight: bold;
}

.tryAgain-button {
  display: none;
  color: #f8f9fb;
  padding: 10px;
  font-size: 1.5rem;
  width: 200px;
  background-color: #4caf50;
  border: 1px solid #4caf50;
  border-radius: 50px;
  margin-top: 20px;
  -webkit-box-shadow: 1px 1px 1px #4caf50;
  box-shadow: 1px 1px 1px #4caf50;
}

@media screen and (max-width: 1300px) {
  .tryAgain-button {
    width: 120px;
    padding: 5px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1380px) {
  .tryAgain-button {
    width: 110px;
    padding: 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1050px) {
  .tryAgain-button {
    width: 155px;
    padding: 20px;
    font-size: 1.2rem;
  }
}

.mobile-button {
  display: none;
  color: #001b4b;
  padding: 10px;
  font-size: 1.5rem;
  width: 200px;
  background-color: #d6e8ee;
  border: 1px solid #d6e8ee;
  border-radius: 50px;
  margin-top: 20px;
  -webkit-box-shadow: 1px 1px 1px #d6e8ee;
  box-shadow: 1px 1px 1px #d6e8ee;
}

@media screen and (max-width: 1300px) {
  .mobile-button {
    width: 120px;
    padding: 5px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1380px) {
  .mobile-button {
    width: 110px;
    padding: 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .mobile-button {
    width: 300px;
    height: 90px;
    padding: 20px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) and (max-height: 1280px) {
  .mobile-button {
    width: 250px;
    height: 80px;
    padding: 25px;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  .mobile-button {
    width: 220px;
    height: 70px;
    padding: 20px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) and (max-height: 960px) {
  .mobile-button {
    width: 220px;
    height: 65px;
    padding: 20px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 414px) and (max-height: 736px) {
  .mobile-button {
    width: 180px;
    height: 55px;
    padding: 20px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 412px) and (max-height: 732px) {
  .mobile-button {
    width: 150px;
    height: 50px;
    padding: 20px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 411px) and (max-height: 823px) {
  .mobile-button {
    width: 150px;
    height: 55px;
    padding: 20px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 384px) and (max-height: 640px) {
  .mobile-button {
    width: 150px;
    height: 50px;
    padding: 20px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
  .mobile-button {
    width: 150px;
    padding: 15px;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) and (max-height: 568px) {
  .mobile-button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) and (max-height: 533px) {
  .mobile-button {
    width: 120px;
    padding: 15px;
    font-size: 1rem;
    margin-top: 15px;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  .mobile-button {
    height: 40px;
    padding: 5px;
    font-size: 0.8rem;
    margin-top: 5px;
  }
}

.table-container {
  margin-left: 200px;
  height: 500px;
  overflow: auto;
}

.table-container table {
  padding: 20px;
}

.table-container table th {
  color: #001b4b;
  border-bottom: 1px solid #d6e8ee;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

.table-container table td {
  color: #001b4b;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid #d6e8ee;
}

@media screen and (max-width: 1680px) and (max-height: 1050px) {
  .table-container {
    margin-left: 150px;
  }
}

@media screen and (max-width: 1440px) and (max-height: 900px) {
  .table-container {
    margin-left: 160px;
  }
  .table-container table {
    padding: 20px;
  }
  .table-container table th {
    padding-left: 70px;
    padding-right: 70px;
  }
  .table-container table td {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .table-container {
    margin-left: 100px;
    height: 350px;
  }
  .table-container table {
    padding: 20px;
  }
  .table-container table th {
    padding-left: 70px;
    padding-right: 70px;
  }
  .table-container table td {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 1280px) and (max-height: 1024px) {
  .table-container {
    margin-left: 100px;
    height: 300px;
  }
  .table-container table {
    padding: 20px;
  }
  .table-container table th {
    padding-left: 50px;
    padding-right: 50px;
  }
  .table-container table td {
    padding-left: 50px;
    padding-right: 50px;
  }
}

#modal {
  visibility: hidden;
  overflow: auto;
  margin: 10px;
  padding: 10px;
  position: absolute;
  left: 17%;
  top: 15%;
  height: 400px;
  border: 1px solid #d6e8ee;
  border-radius: 10px;
  background-color: #f8f9fb;
}

#modal table {
  padding: 20px;
}

#modal table th {
  color: #001b4b;
  border-bottom: 1px solid #d6e8ee;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

#modal table td {
  color: #001b4b;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid #d6e8ee;
}

@media screen and (max-width: 768px) and (max-height: 1280px) {
  #modal {
    margin: 8px;
    padding: 8px;
    left: 6%;
    height: 450px;
  }
  #modal table {
    padding: 10px;
  }
  #modal table th {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
  }
  #modal table td {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 640px) and (max-height: 960px) {
  #modal {
    left: 5%;
    height: 500px;
  }
  #modal table {
    padding: 5px;
  }
  #modal table th {
    font-size: 0.8rem;
  }
  #modal table td {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) and (max-height: 960px) {
  #modal {
    left: 3%;
    padding: 3px;
  }
}

@media screen and (max-width: 492px) and (max-height: 787px) {
  #modal {
    padding: 3px;
  }
  #modal table {
    padding: 3px;
  }
  #modal table th {
    font-size: 0.6rem;
  }
  #modal table td {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 492px) and (max-height: 467px) {
  #modal {
    left: 5%;
    top: 15%;
    height: 300px;
  }
  #modal table {
    padding: 2px;
  }
  #modal table th {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
  #modal table td {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 480px) and (max-height: 854px) {
  #modal {
    left: 5%;
    top: 13%;
  }
  #modal table {
    padding: 2px;
  }
  #modal table th {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    font-size: 0.7rem;
  }
  #modal table td {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 414px) and (max-height: 736px) {
  #modal table {
    padding: 2px;
  }
  #modal table th {
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 15px;
    font-size: 0.6rem;
  }
  #modal table td {
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 15px;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 412px) and (max-height: 732px) {
  #modal {
    left: 5%;
  }
  #modal table {
    padding: 2px;
  }
  #modal table th {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
  #modal table td {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 411px) and (max-height: 823px) {
  #modal table {
    padding: 2px;
  }
  #modal table th {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 0.6rem;
  }
  #modal table td {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 411px) and (max-height: 731px) {
  #modal {
    top: 15%;
  }
}

@media screen and (max-width: 384px) and (max-height: 640px) {
  #modal {
    left: 3%;
  }
}

@media screen and (max-width: 375px) and (max-height: 812px) {
  #modal table {
    padding: 2px;
  }
  #modal table th {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
  #modal table td {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  #modal table {
    padding: 2px;
  }
  #modal table th {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
  #modal table td {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
  #modal {
    left: 3%;
    top: 15%;
    height: 350px;
  }
  #modal table {
    padding: 2px;
  }
  #modal table th {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
  #modal table td {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 320px) and (max-height: 568px) {
  #modal {
    top: 16%;
  }
  #modal table {
    padding: 2px;
  }
  #modal table th {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
  #modal table td {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 320px) and (max-height: 533px) {
  #modal {
    left: 2%;
    height: 350px;
    top: 18%;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  #modal {
    top: 19%;
  }
  #modal table {
    padding: 2px;
  }
  #modal table th {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
  #modal table td {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 0.5rem;
  }
}

.close {
  visibility: hidden;
  text-align: center;
  position: absolute;
  left: 82.5%;
  top: 13.5%;
  font-size: 1.5rem;
  width: 30px;
  background-color: #d50000;
  border-radius: 30px;
}

.close a {
  font-weight: bold;
  color: #f8f9fb;
  text-decoration: none;
  padding: 5px;
}

@media screen and (max-width: 768px) and (max-height: 1280px) {
  .close {
    left: 89%;
  }
}

@media screen and (max-width: 640px) and (max-height: 960px) {
  .close {
    left: 91.5%;
    top: 13.2%;
  }
}

@media screen and (max-width: 600px) and (max-height: 960px) {
  .close {
    left: 94%;
  }
}

@media screen and (max-width: 492px) and (max-height: 787px) {
  .close {
    left: 94%;
    top: 13.2%;
    font-size: 1rem;
    width: 20px;
    padding: 2px;
  }
}

@media screen and (max-width: 492px) and (max-height: 467px) {
  .close {
    left: 92%;
  }
}

@media screen and (max-width: 480px) and (max-height: 854px) {
  .close {
    top: 11.6%;
    left: 92%;
  }
}

@media screen and (max-width: 412px) and (max-height: 732px) {
  .close {
    left: 90%;
    top: 13.6%;
  }
}

@media screen and (max-width: 384px) and (max-height: 640px) {
  .close {
    left: 93.5%;
    top: 13.5%;
  }
}

@media screen and (max-width: 360px) and (max-height: 640px) {
  .close {
    left: 91.8%;
    top: 13.5%;
  }
}

@media screen and (max-width: 320px) and (max-height: 533px) {
  .close {
    left: 93%;
    top: 15.5%;
  }
}

@media screen and (max-width: 320px) and (max-height: 480px) {
  .close {
    top: 17%;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.verify {
  font-weight: bold;
  color: #455a64;
  margin-top: 30px;
}

#forms-page {
  display: none;
}

.web-footer {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #02457a;
  width: 100%;
  margin-top: 100px;
}

.web-footer h3 {
  color: #f8f9fb;
}

.web-footer p {
  color: #f8f9fb;
}

.web-footer #web-nmp {
  margin-top: 50px;
}

.web-footer #web-nmp img {
  width: 80px;
  height: 70px;
}

.web-footer #web-nmp h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 1680px) and (max-height: 1050px) {
  .web-footer {
    margin-top: 150px;
  }
}

.web-footer #web-nmp {
  margin-top: 50px;
}

.web-footer #web-nmp img {
  width: 70px;
  height: 60px;
}

.web-footer #web-nmp h3 {
  font-size: 1.3rem;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .web-footer {
    margin-top: 170px;
  }
  .web-footer h3 {
    font-size: 0.8rem;
  }
  .web-footer p {
    font-size: 0.8rem;
  }
  .web-footer #web-nmp {
    margin-top: 50px;
  }
  .web-footer #web-nmp img {
    width: 50px;
    height: 40px;
  }
  .web-footer #web-nmp h3 {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1280px) and (max-height: 1024px) {
  .web-footer {
    margin-top: 220px;
  }
  .web-footer h3 {
    font-size: 0.8rem;
  }
  .web-footer p {
    font-size: 0.8rem;
  }
  .web-footer #web-nmp {
    margin-top: 50px;
  }
  .web-footer #web-nmp img {
    width: 50px;
    height: 40px;
  }
  .web-footer #web-nmp h3 {
    font-size: 1rem;
  }
}

.mobile-footer {
  display: none;
  width: 100%;
  background-color: #02457a;
  bottom: 0;
  text-align: center;
  position: fixed;
}

.mobile-footer h6 {
  color: #f8f9fb;
}

@media screen and (max-width: 1050px) {
  .mobile-footer {
    display: block;
  }
  .web-footer {
    display: none;
  }
}

@media screen and (max-width: 768px) and (max-height: 1280px) {
  .table-container {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .table-container {
    display: none;
  }
  .submit-button {
    display: none;
  }
  .mobile-button {
    display: block;
  }
}

#dropdown-content {
  border: 1px solid #02457a;
  left: 60%;
  position: fixed;
  width: 100px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#dropdown-content div {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

#dropdown-content a {
  padding: 5px;
}

/*# sourceMappingURL=styles.css.map */